<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@GlobalConstants.SystemName - @ViewData["Title"]</title>

    <partial name="_FavIconPartial" />
    <link rel="stylesheet" href="~/themes/mazer/dist/assets/compiled/css/app.css" />
    <link rel="stylesheet" href="~/themes/mazer/dist/assets/compiled/css/app-dark.css" />
    <link rel="stylesheet" href="~/themes/mazer/dist/assets/compiled/css/auth-forgot-password.css" />
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/themes/mazer/dist/assets/compiled/js/app.js"></script> @*Bootstrap*@
</head>
<body>
    <script src="~/themes/mazer/dist/assets/static/js/initTheme.js"></script>

    @RenderBody()
    <partial name="_ModalFormPartial" />
    <script src="~/themes/mazer/dist/assets/static/js/components/dark.js"></script>
    <script src="~/themes/mazer/dist/assets/extensions/sweetalert2/sweetalert2.all.min.js"></script>

    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <partial name="_NotificationsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>