@using GarageBuddy.Data.Models
@using GarageBuddy.Web.Infrastructure.Extensions
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@if (this.SignInManager.IsSignedIn(this.User))
{
    <div class="dropdown">
        <a href="#"
           id="topbarUserDropdown"
           class="user-dropdown d-flex align-items-center dropend dropdown-toggle"
           data-bs-toggle="dropdown"
           aria-expanded="false">
            <div class="avatar avatar-md2">
                <img src="~/themes/mazer/dist/assets/compiled/jpg/1.jpg" alt="Avatar" />
            </div>
            <div class="text">
                <h6 class="user-dropdown-name">@this.User.GetFirstPartOfEmail()</h6>
                <p class="user-dropdown-status text-sm text-muted">
                    Member
                </p>
            </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end shadow-lg"
            aria-labelledby="topbarUserDropdown">
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">My Account</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
                <form class="dropdown-item" asp-area="" asp-controller="User" asp-action="Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                    <button type="submit" class="nav-link btn">Logout</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <div>
        <a class="btn btn-sm btn-outline-primary" asp-area="" asp-controller="User" asp-action="Register">Register</a>
    </div>
    <div>
        <a class="btn btn-sm btn-outline-primary" asp-area="" asp-controller="User" asp-action="Login">Login</a>
    </div>
}

