@model HomeViewModel

@{
    this.ViewData["Title"] = "Home Page";

    var brandNames = Model.ModelsCountByBrand.Select(brand => brand.BrandName).ToList();
    var modelCounts = Model.ModelsCountByBrand.Select(brand => brand.ModelCount).ToList();
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Registered brands and models </h4>
                </div>
                <div class="card-body">
                    <div id="chart-profile-visit"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Garage Location</h4>
                </div>
                <div class="card-body">
                    <div id="mapContainer" style="height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/apexChartBrandModel.min.js"></script>
    <script>renderApexChart(@Html.Raw(Json.Serialize(modelCounts)), @Html.Raw(Json.Serialize(brandNames)), "#chart-profile-visit");</script>
    <script src="~/js/mapStaticLocation.min.js"></script>
    <script>document.addEventListener('DOMContentLoaded', initMapStaticLocation('mapContainer', '@Model.ActiveGarageCoordinates'));</script>
}

@section HeadScripts {
    <script src="~/themes/mazer/dist/assets/extensions/apexcharts/apexcharts.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
}