<section class="section">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h5 class="card-title">@ViewData["Title"]</h5>
            <a class="btn btn-success" asp-area="Admin" , asp-controller="Garage" asp-action="Create">Create New Garage</a>
        </div>
    </div>
</section>